body {
    background-color: lightskyblue;
;
}

div {
    color: white;
    width: 250px;
}

#container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

#A {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#B {
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#C {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* PicSlider Section */
#carouselWindow {
    width: 100vw;
    height: 400px;
    border: solid 1px black;
    overflow: hidden;
    /* add the additional required properties */
  }
  
  #imgSlider {
    border: solid 1px red;
    width: 100vw;
  }
  
  img {
    width: 100vw;
    height: 400px;
    /* update to fit a single image in the window */
  }
  #buttonContainer {
    margin-left: 820px;
  }
  /* End PicSlider Section */